{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bold text-primary">Contactanos</h1>
    <p class=" fs-5">Apoyamos a la población vulnerable con amor, compromiso y fe.</p>
  </div>

  <!-- Imagen principal -->
  <div class="mb-5 text-center">
    <img src="{% static 'img/0.jpg' %}" class="img-fluid rounded shadow" alt="Programas Fundación ALENU">
  </div>

  <!-- Contacto -->
  <div class="mt-5">
    <h3 class="text-primary">Contacto</h3>
    <p class="mb-1"><i class="fas fa-map-marker-alt"></i> Carrera 27 No. 22-46, Barrio La Independencia – Pasto</p>
    <p class="mb-1"><i class="fas fa-phone-alt"></i> Tel: 3174672954 - 3176925434</p>
    <p><i class="fas fa-envelope"></i> <a href="mailto:alenufundacion@gmail.com">alenufundacion@gmail.com</a></p>
  </div>
   <!-- Cómo apoyar -->
  <div class="mb-5 bg-dark p-4 rounded shadow-sm">
    <h2 class="text-secondary">¿Cómo puedes apoyar?</h2>
    <p class="fs-5">Recibimos donaciones en especie o dinero. Puedes aportar víveres, ropa, útiles, o transferencias a:</p>
    <ul>
      <li>Cuenta de Ahorros Bancolombia No. <strong>074-585172-01</strong></li>
      <li>Víveres, ropa, juguetes, útiles escolares, mobiliario, electrodomésticos.</li>
      <li>Compra de bonos solidarios desde $5.000</li>
    </ul>
    <p>¡Gracias por ser parte de esta obra que transforma vidas!</p>
  </div>

  <!-- Imagen final -->
  <div class="text-center mt-5">
    <img src="{% static 'img/imagen10.jpg' %}" class="img-fluid rounded shadow" alt="Ayuda Fundación ALENU">
  </div>

</section>
{% endblock %}
