/* Estilos para los párrafos */
body {
  background-color: var(--light);
  color: var(--light);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

p {

  color: var(--gray);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem
}

/* Estilos para las imágenes */
.card-img-top {
  object-fit: cover;
}

/* Efecto de sombra en las tarjetas */
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Estilos para el botón de contacto */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Estilos para el encabezado de las tarjetas */
.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para el texto de las tarjetas */
.card-text {
  font-size: 16px;
  line-height: 1.5;
}

.img-evidencia {
  height: 250px;
  object-fit: cover;
}